body {
    background: #f4f0e8;
}

.intro {
    min-height: 390px;

    background-image:
        linear-gradient(rgba(18, 28, 18, 0.42), rgba(18, 28, 18, 0.42)),
        url("../images/Placeholder1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 8%;
    color: #f7f1e7;
}

.intro-inne {
    max-width: 560px;
}

.intro h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 40px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 18px;
}

.intro p {
    font-size: 15px;
    line-height: 1.7;
    color: #eee6d8;
    margin-bottom: 22px;
}

.btn-om {
    display: inline-block;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.btn-boka{
display:inline-block;
background:transparent;
color:#ffffff;
border:1px solid rgba(255,255,255,0.8);
padding:14px 30px;
font-family:Arial,sans-serif;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
letter-spacing:1px;
text-decoration:none;
transition:all 0.3s ease;
cursor:pointer;
}

.btn-boka:hover{
background:rgba(255,255,255,0.10);
border-color:#ffffff;
color:#ffffff;
transform:translateY(-2px);
box-shadow:0 10px 24px rgba(0,0,0,0.12);
}

.btn-boka:visited{
color:#ffffff;
}

.btn-boka,
.btn-kontakt{
display:inline-block;
padding:12px 24px;
text-transform:uppercase;
font-size:11px;
font-weight:bold;
color:#ffffff;
letter-spacing:1.3px;
text-decoration:none;
cursor:pointer;
transition:0.3s ease;
opacity:1;
visibility:visible;
}

.btn-om{
display:inline-block;
background:#68714b;
color:#ffffff;
border:1px solid #68714b;
padding:14px 30px;
font-family:Arial,sans-serif;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
letter-spacing:1px;
text-decoration:none;
transition:all 0.3s ease;
cursor:pointer;
}

.btn-om:hover{
background:#7a8460;
border-color:#7a8460;
color:#ffffff;
transform:translateY(-2px);
box-shadow:0 10px 24px rgba(0,0,0,0.08);
}

.btn-om:visited,
.btn-kontakt:visited{
color:#ffffff;
}


.btn-kontakt {
    background: transparent;
    color: #68714b;
    border: 1px solid #d8cebc;
    padding: 14px 28px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 12px;
    transition: 0.3s ease;
    margin-top: 25px;
}

.btn-kontakt:hover {
    background: #68714b;
    border: 1px solid #e4dac8;
    color: #f4f0e8;
}

.btn-kontakt:visited {
    color: #f4f0e8;
}

.om-oss {
    background: #f4f0e8;
    color: #3c5238;
    padding: 52px 8%;
    display: grid;
    grid-template-columns: 0.9fr 1.35fr;
    gap: 55px;
    align-items: center;
}

.oss-text span,
.text-omoss span {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.6px;
    color: #5f684f;
    font-weight: bold;
}

.oss-text h2,
.text-omoss h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 31px;
    line-height: 1.15;
    font-weight: 500;
    color: #3c5238;
    margin: 10px 0 18px;
}

.oss-text p,
.text-omoss p {
    font-size: 14px;
    line-height: 1.8;
    color: #465040;
    margin-bottom: 22px;
}

.karta {
    width: 600px;
    height: 500px;
}

.karta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.om-oss img,
.om-oss-sektion img,
.kort img{
    border: 3px solid #e4dbc9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease;
}

.om-oss img:hover,
.om-oss-sektion img:hover,
.kort:hover img,
.karta:hover {
    border-color: #b9ad98;
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.13);
}

.om-oss img,
.om-oss-sektion img {
    width: 100%;
    height: 285px;
    object-fit: cover;
}


.top-lista {
    background: #68714b;
    color: #f4f0e8;
    padding: 48px 8%;
    text-align: center;
}

.top-lista h2 {
    font-family: playfair display, georgia, serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 32px;
}

.top-lista-kort {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 28px;
    align-items: stretch;
}

.top-lista h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}


.top-lista h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 80px;
    height: 1px;
    background: #d8cebc;
}

.korts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.kort {
    position: relative;
    background: #e9e2d4;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d5cdbd;
    cursor: pointer;
    height: 243px;
}

.kort img {
    width: 100%;
    height: 141px;
    object-fit: cover;
    display: block;
}

.kort div {
    height: 102px;
    padding: 16px 20px 18px;
    background: #e9e2d4;
    text-align: left;
    box-sizing: border-box;
}

.kort h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #25301f;
    margin: 0 0 4px;
    font-weight: 600;
}

.kort p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
    color: #4f5748;
    margin: 0 0 18px;
}

.kort span {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #25301f;
}

.kort-overlay {
    position: absolute;
    inset: 0;
    z-index: 20;
    display: block;
    text-decoration: none;
}


.karta {
    min-height: 390px;
    background: #d8d3c3;
    color: #25301f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.se-allt {
    display: inline-block;
    margin-top: 28px;
    color: #f4f0e8;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0;
    text-decoration: none;
    transition: 0.3s ease;
}

.se-allt:hover {
    color: #d8cebc;
}

.se-allt::after {
    content: "⟶";
    display: inline-block;
    transform: scaleX(2.8);
    margin-left: 19px;
    transition: 0.3s ease;
}

.se-allt:hover::after {
    margin-left: 16px;
}


.om-oss-sektion {
    background: #f4f0e8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 52px 8%;
    align-items: center;
}


.kontakt {
    background: #68714b;
    color: #f4f0e8;
    text-align: center;
    padding: 42px 8%;
}

.kontakt h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}


.kontakt h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    width: 70px;
    height: 0.8px;
    background: #d5d0c780;
}

.kontakt p {
    margin: 8px 0;
    font-size: 14px;
    word-spacing: 2px;
}

@media (max-width: 850px) {

    .footer {
        grid-template-columns: 1fr;
        gap: 35px;
        text-align: center;
    }

    .footer-links,
    .footer-kontakt {
        align-items: center;
    }

    .footer-logo h2 {
        font-size: 28px;
    }
}

/* RESPONSIV */

@media (max-width: 1000px) {
    .om-oss,
    .top-lista-kort,
    .om-oss-sektion {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .oss-text,
    .text-omoss {
        text-align: center;
    }

    .karta {
        min-height: 300px;
    }

    .intro h1 {
        font-size: 34px;
    }
}

@media (max-width: 700px) {
    .intro {
        min-height: 320px;
        padding: 40px 6%;
    }

    .intro h1 {
        font-size: 28px;
    }

    .intro p {
        font-size: 13px;
    }

    .om-oss,
    .top-lista,
    .om-oss-sektion,
    .kontakt {
        padding: 38px 6%;
    }

    .korts {
        grid-template-columns: 1fr;
    }

    .om-oss img,
    .om-oss-sektion img {
        height: 220px;
    }

    .kort img {
        height: 170px;
    }

    .top-lista h2,
    .kontakt h2,
    .oss-text h2,
    .text-omoss h2 {
        font-size: 24px;
    }

    .btn-boka,
    .btn-om,
    .btn-kontakt {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 10px;
    }
}