body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f2eee9;
    background: #f2eee9;
  }

header {
    height: 90px;
    padding: 0 8%;
    background: #f2eee9;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  .meny{
    
    letter-spacing: 1px;
    background-color: #f2eee9;
    color: #070707;
    box-shadow: 0 8px 10px -5px rgba(168, 165, 165, 0.15);
}
  