

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f2eee9;
    background: #f2eee9;
  }

header {
    height: 90px;
    padding: 0 8%;
    background: #f2eee9;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  .meny{
    
    letter-spacing: 1px;
    background-color: #f2eee9;
    color: #070707;
  }

  .intro {
    min-height: 430px;
    background:
      linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
      url("ChatGPT\ Image\ Apr\ 27\,\ 2026\ at\ 01_57_59\ PM.png") center/cover;
    display: flex;
    align-items: center;
    padding: 0 8%;
    color: white;
  }
  
  .intro-inne {
    max-width: 650px;
  }
  
  .intro h1 {
    font-size: 26px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  .om-info{
    color: #162214;
  }
  .om-info p{
    text-align: center;
  }

  .om-info h1{
    color: #162214;
  }

  .om-oss{
    padding: 75px 8%;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 80px;
    align-items: center;
    color: #162214;
}

section {
    background: #f2eee9;
    padding: 80px 40px;
  }
  
  section h1 {
    text-align: center;
    color: #f2eee9;
    font-size: 42px;
    margin-bottom: 60px;
  }

  .till-lag {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto 80px;
    max-width: 850px;
  }
  
  .ikon {
    width: 90px;
    height: 90px;
    min-width: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0dbd5;
  }
  
  .ikon img {
    width: 100px;
    height: auto;
    object-fit: contain;
  }
  
  .txt {
    max-width: 500px;
  }
  
  .txt h3 {
    font-size: 32px;
    font-weight: 500;
    color: #3c5238;
    margin: 0 0 10px;
  }
  
  .txt p {
    font-size: 20px;
    line-height: 1.5;
    color: #162214;
    margin: 0;
  }