* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #292626;
  background: #b0c2b68c;
}

header,
.hero,
.steps,
.booking {
  background: #ffffff;
}

.meny{
    background-color: rgb(187, 187, 187);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}
header a {
  text-decoration: none;
  color: #222;
}
.section-p{
    padding-bottom: 10px;
}

.btn {
  padding: 10px 15px;
  background: rgb(49, 78, 49);
  color: #fff;
  border-radius: 4px;
}

.btn-1{
    padding: 10px 15px;
    background: rgb(49, 78, 49);
    color: #fff;
    border-radius: 4px;
    width: 130px;
}

.hero{
padding-top: 50px ;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-position: center;
height: 700px;
  background-image: url(ChatGPT\ Image\ Apr\ 27\,\ 2026\ at\ 01_57_59\ PM.png);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;

}

.hero h2 {
  font-size: 48px;

}

.steps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.steps div,
.details,
.summary {
  border: 1px solid #ddd;
  padding: 15px;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    padding: 20px;
    border-radius: 10px;

    margin: 30px auto;
    width: 80%;

   
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px;
    border: #222 1px;
    padding: 20px;
}

.form-item :last-child {
    border-right: 1px solid #ddd;
}

.form-item select,
.form-item input {
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    
}


.form-btn button {
    background: rgb(205, 205, 205);
    padding: 20px;
    border-radius: 20px;
    border: 20px;
    color:rgb(32, 91, 66);
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  
}

footer{
    padding: 30px;
    width: 100px;
    font-size: medium;
    
}



@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
  }

  .hero,
  .booking,
  .steps,
  .form-row {
    grid-template-columns: 1fr;
  }
}
